<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.sample.dao.SampleMapper">

    <select id="selectSampleList" resultType="com.spring.sample.domain.Sample">
        SELECT
            id,
           title,
           content 
        FROM sample_tb
        WHERE 1
    </select>

    <insert id="insertSample" parameterType="com.spring.sample.domain.Sample">
        INSERT INTO sample_tb (
               id,
               title,
               content,
               create_id,
               create_date
           ) VALUES (
             #{id},
             #{title},
             #{content},
             'admin',
             now()
         )
    </insert>

    <delete id="deleteSample" parameterType="com.spring.sample.domain.Sample">
        DELETE FROM sample_tb WHERE id = #{id}
    </delete>

</mapper>